html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header-right {
  display: block;
  width: 100%;
  background: #f2f2f2;
  padding: 10px 30px 10px 15px;
}

#header-right a[href="index.html"] svg {
  margin-top: 5px;
  width: 92px;
}

#header-right #tools {
  margin: 0px !important;
  float: right;
}

#middle {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

#middle .Section1 {
  width: 100%;
  display: inline-block;
  padding: 25px 35px;
}

#middle .Section1 h5 {
  padding-left: 10px;
  margin: 0px !important;
}

#middle .seperateLine {
  border-top: 1px solid #ebebeb;
}

#middle .h {
  font-size: 16px !important;
}

#middle .b {
  padding-left: 5px !important;
  font-weight: 700;
  font-size: 13px !important;
  color: #777 !important;
}

#middle form {
  margin: 40px 45px;
}

#middle form .myTable {
  max-width: 1135px;
}

#middle form .myTable .seperateLine {
  margin: 31px 0px 18px 0;
}

#middle form .myTable .myRow {
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#middle form .myTable .myRow .CellA {
  max-width: 183px;
  color: #222;
  font-size: 13px;
}

#middle form .myTable .myRow .CellB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: 952px;
}

#middle form .myTable .myRow .CellB .CellC {
  max-width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 13px;
}

#middle form .myTable .myRow .CellB .CellC input {
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  height: 29px;
  width: 100%;
  padding: 1px 8px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#middle form .myTable .myRow .CellB .CellC input:hover, #middle form .myTable .myRow .CellB .CellC input:focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #4d90fe;
  outline: none;
}

#middle form .myTable .myRow .CellB .CellC input[type="submit"] {
  margin-top: 10px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 100%;
  height: 30px;
  max-width: 120px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#middle form .myTable .myRow .CellB .CellC input[type="submit"]:hover {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  -o-border-image: initial;
     border-image: initial;
}

#middle form .myTable .myRow .CellB .CellC span {
  max-width: 40px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
}

#middle form .myTable .myRow .CellB .CellC select {
  height: 29px;
  width: 100%;
  padding: 1px 8px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border-radius: 2px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  color: #333;
  font-weight: bold;
}

#middle form .myTable .myRow .CellB .CellC select:hover {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-color: #c6c6c6;
  color: #333;
}

#middle form .myTable .myRow .CellB .CellC select:focus {
  border-color: #4d90fe;
  outline: none;
}

#middle form .myTable .myRow .CellB .CellC select:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
  background-image: linear-gradient(top, #eee, #e0e0e0);
  border: 1px solid #ccc;
  color: #333;
}

#middle form .myTable .myRow .CellB .CellC select option:hover {
  cursor: pointer;
}

#middle form .myTable .myRow .CellB .CellD {
  padding-left: 15px;
  max-width: 382px;
  font-size: 11px;
  color: #555;
  line-height: 1.15 !important;
}

#middle form .myTable .myRow .CellB .CellD span {
  color: #666;
  font-family: monospace;
  white-space: pre;
}

@media (max-width: 650px) {
  #middle form .myTable .myRow .CellB .CellD {
    display: none;
  }
}

#middle form .CellA, #middle form .CellB, #middle form .CellC, #middle form .CellD, #middle form span {
  width: 100%;
  margin: auto 0px;
}

#middle .lastTable .HeaderTotheLInk {
  padding-top: 3px;
  height: 42px;
}

#middle .lastTable .otherLinks {
  display: -ms-grid;
  display: grid;
}

#middle .lastTable .otherLinks a {
  color: #12c;
  font-size: 13px;
}

#footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#footer #footer-bottom {
  background: #f2f2f2;
  min-height: 40px;
}
/*# sourceMappingURL=advance.css.map */