html, body{
    
    // This is to keep footer at bottom
    height:100%
    
}

body{

    // This is to keep footer at bottom
    display: flex;
    flex-direction: column;

}

// This is the header of the page
#header-right{
    display: block;
    width: 100%; 
    background: #f2f2f2; 
    padding: 10px 30px 10px 15px;

    // This is inside of right header
    a[href="index.html"]{
        svg {
            margin-top: 5px;
            width: 92px;
        }
    }
    
    // This is inside of right header
    #tools{
        margin:0px !important; 
        float: right;
    }
}


// This is the middle section of the page
#middle{

    // This is to keep footer at bottom
    flex:auto;

    .Section1{
        width: 100%;
        display: inline-block;
        padding: 25px 35px;
        h5{
            padding-left: 10px;
            margin: 0px !important;
        }
    }

    .seperateLine{
        border-top: 1px solid #ebebeb;
    }

    .h{
        font-size: 16px !important;
    }

    .b{
        padding-left: 5px !important;
        font-weight: 700;
        font-size: 13px !important;
        color: #777 !important;
    }

    form{
        .myTable{
            margin: 40px 45px; 
            max-width: 1135px;
            .myRow{    
                margin-bottom: 13px;
                display: flex;
                flex-wrap: wrap;
                .CellA{
                    max-width: 183px;
                    color: #222;
                    font-size: 13px;
                    margin: auto 0px;
                }
                .CellB{
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 952px;
                    .CellC{
                        max-width: 570px;
                        margin: auto 0px;
                        input{
                            border-radius: 1px;
                            border: 1px solid #d9d9d9;
                            border-top: 1px solid #c0c0c0;
                            font-size: 13px;
                            height: 29px;
                            width: 100%;
                            padding: 1px 8px;
                            transition: border 250ms;
                            
                            &:hover, &:focus{
                                box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
                                border: 1px solid #4d90fe;
                                outline: none;
                            }
                        }
                    }
                    .CellD{
                        margin: auto 0px;
                        padding-left: 15px;
                        max-width: 382px;
                        font-size: 11px;
                        color: #555;
                        span{                 
                            color: #666;
                            font-family: monospace;
                            white-space: pre;
                        }
                    }
                }
            }
        }
        .CellA, .CellB,.CellC, .CellD{
            width: 100%;
        }
    }
    
    
}


// This is the footer of the page
#footer{

    // This is to keep footer at bottom
    flex-shrink: 0;

    #footer-bottom{
        background: #f2f2f2;
        min-height: 40px;
    }
}
