html, body{
    
    // This is to keep footer at bottom
    height:100%
    
}

body{

    // This is to keep footer at bottom
    display: flex;
    flex-direction: column;

}

// This is the header of the page
#header-right{
    display: block;
    width: 100%; 
    background: #f2f2f2; 
    padding: 10px 30px 10px 15px;

    // This is inside of right header
    a[href="index.html"]{
        svg {
            margin-top: 5px;
            width: 92px;
        }
    }
    
    // This is inside of right header
    #tools{
        margin:0px !important; 
        float: right;
    }
}


// This is the middle section of the page
#middle{

    // This is to keep footer at bottom
    flex:auto;

    .Section1{
        width: 100%;
        display: inline-block;
        padding: 25px 35px;
        h5{
            padding-left: 10px;
            margin: 0px !important;
        }
    }

    .seperateLine{
        border-top: 1px solid #ebebeb;
    }

    .h{
        font-size: 16px !important;
    }

    .b{
        padding-left: 5px !important;
        font-weight: 700;
        font-size: 13px !important;
        color: #777 !important;
    }

    form{
        margin: 40px 45px; 
        .myTable{

            .seperateLine{
                margin: 31px 0px 18px 0;
            }

            max-width: 1135px;
            .myRow{    
                margin-bottom: 13px;
                display: flex;
                flex-wrap: nowrap;
                .CellA{
                    max-width: 183px;
                    color: #222;
                    font-size: 13px;
                }
                .CellB{
                    display: flex;
                    flex-wrap: nowrap;
                    max-width: 952px;

                    .CellC{
                        max-width: 570px;
                        display: flex;
                        flex-wrap: nowrap;
                        font-size: 13px;

                        input{
                            border-radius: 1px;
                            border: 1px solid #d9d9d9;
                            border-top: 1px solid #c0c0c0;
                            height: 29px;
                            width: 100%;
                            padding: 1px 8px;
                            transition: all 250ms;
                            
                            &:hover, &:focus{
                                box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
                                border: 1px solid #4d90fe;
                                outline: none;
                            }
                        }

                        input[type="submit"]{
                            margin-top:10px;

                            border-radius: 2px;
                            font-size: 11px;
                            font-weight: bold;
                            text-align: center;
                            white-space: nowrap;
                            outline: 0;

                            user-select: none;
                            line-height: 100%;
                            height: 30px;
                            max-width: 120px;

                            box-shadow: none;
                            background-color: #4d90fe;
                            background-image: linear-gradient(top,#4d90fe,#4787ed);
                            border: 1px solid #3079ed;
                            color: #fff;

                            transition: all 250ms;
                            &:hover{
                                background-color: #357ae8;
                                background-image: linear-gradient(top,#4d90fe,#357ae8);
                                border: 1px solid #2f5bb7;
                                border-image: initial;
                            }
                        }

                        span{
                            max-width: 40px;
                            padding-right: 6px;
                            padding-left: 6px;
                            text-align: center;
                        }

                        select{
                            height: 29px;
                            width: 100%;
                            padding: 1px 8px;
                            transition: all 250ms;
                            border-radius: 2px;
                            background-color: #f5f5f5;
                            background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
                            border: 1px solid #dcdcdc;
                            color: #333;
                            font-weight: bold;

                            &:hover{ 
                                background-color: #f8f8f8;
                                background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
                                box-shadow: 0 1px 1px rgba(0,0,0,.1);
                                border-color: #c6c6c6;
                                color: #333
                            }
                            &:focus{
                                border-color: #4d90fe;
                                outline: none;
                            }

                            &:active{
                                box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                                background-color: #eee;
                                background-image: linear-gradient(top,#eee,#e0e0e0);
                                border: 1px solid #ccc;
                                color: #333;
                            }

                            option:hover{
                                cursor: pointer;
                            }
                        }
                    }
                    .CellD{
                        padding-left: 15px;
                        max-width: 382px;
                        font-size: 11px;
                        color: #555;
                        line-height: 1.15 !important;
                        span{                 
                            color: #666;
                            font-family: monospace;
                            white-space: pre;
                        }
                    }
                    @media(max-width: 650px){
                        .CellD{
                            display: none;
                        }
                    }
                }
            }
        }
        .CellA, .CellB,.CellC, .CellD, span{
            width: 100%;
            margin: auto 0px;
        }
    }
    .lastTable{
        .HeaderTotheLInk{
            padding-top: 3px;
            height: 42px;
        }
        .otherLinks{
            display: grid;
            a {
                color: #12c;
                font-size: 13px;
            }
        }
    }
    
}


// This is the footer of the page
#footer{

    // This is to keep footer at bottom
    flex-shrink: 0;

    #footer-bottom{
        background: #f2f2f2;
        min-height: 40px;
    }
}
