body{
    min-width:400px;
}
.container{
    max-width: 584px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#search-icon{
    fill: #9aa0a6;
    width:  20px;
    height: 20px;
}

.my-shadow {    
    box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.200) !important;
    border: none!important;
}

#search-box{
    display:flex;
    height: 44px;
    transition: box-shadow 0.25s;
    &:hover{
        @extend .my-shadow;
    }
 
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

input[type="submit"], input[type="button"]{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    transition: all 250ms;
    margin: 0px 4px;
    &:hover{
        background-color: #f8f8f8;
        border: 1px solid #c6c6c6;
        color: #222;
    }
    &:focus{  
        border: 1px solid #4d90fe;
        outline: none;
    }
}

#clear-text{
    height: -webkit-fill-available;
    padding: 3px 0px;
    fill: gray;
    cursor:pointer;
}

#seperator{
    border-left:1px solid #9aa0a6;
    width: 1px;
    height: 65%;
}