// This is the body of page 
body{
    min-width:400px;
    font-family: arial,sans-serif!important;
    a{
        transition: all 250ms;
    }
}

// These are the right header properties
#header-right{
    
    // Variables
    $margin-left-right:7.5px;
    $color: rgba(0,0,0,0.87);

    // css
    margin-top:12px;
    margin-right: 30px;
    display: inline-flex;
    float: right;
    text-align: right;
    font-size: 13px;

    @media(min-width:200px){
        display: hidden;
    }

    // This is insede the right header
    #links{

        // This is inside the links
        a{
            height:24px;
            
            color: $color;
            text-decoration: none;
            padding-right:$margin-left-right;
            &:hover, &:focus{
                text-decoration: underline;
                outline:none;
            }
        }
    }
    
    // This is inside right header
    #apps{
        height: 40px;
        width: 40px;
        padding:8px;
        transition: background-color 400ms;
        cursor: pointer;
        &:hover, &:focus{
            background:lightgray;
        }

        // This is inside the apps
        svg{
            fill: $color;
            &:hover{
                fill: black;
            }
        }
    }

    // This is inside the more-apps
    #signin{
        margin-left: $margin-left-right;
        padding: 6px 12px; 
        background:#3c7ae4;
        color: white;
        font-weight: bold;
        border: 1px solid #4285f4;

        // This is inside the sign in button
        &:hover, &:focus{
            outline:none;
            text-decoration: none;
            background:#3f76d3;
        }
    }
    
}


// These are the search form properties
.my-shadow {    
    box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.200) !important;
    border: none!important;
}
.container{
    padding: 0px 32px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);

    // This is inside container
    form{
        min-width: 336px;

        // This is inside search form
        #search-box{
            max-width: 584px;
            display:flex;
            height: 46px;
            transition: box-shadow 0.25s;
            &:hover{
                @extend .my-shadow;
            }
        
            // This is inside search box input field
            #search-icon{
                fill: #9aa0a6;
                width:  20px;
                height: 20px;
            }
        
            #clear-text{
                height: -webkit-fill-available;
                padding: 3px 0px;
                fill: gray;
                cursor:pointer;
            }
        
            #seperator{
                border-left:1px solid #9aa0a6;
                width: 1px;
                height: 65%;
            }
        }

        // These are inside search form
        input[type="text"], input[type="password"], textarea, select { 
            outline: none;
        }
    
        input[type="submit"], input[type="button"]{
            background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            color: #5F6368;
            font-family: arial,sans-serif;
            font-size: 14px;
            transition: all 250ms;
            margin: 0px 4px;
            &:hover{
                background-color: #f8f8f8;
                border: 1px solid #c6c6c6;
                color: #222;
            }
            &:focus{  
                border: 1px solid #4d90fe;
                outline: none;
            }
        }
    }
    
    #lang{
        font-size: small;
        a{
            margin: 0px 3px;
            color:blueviolet;
            &:hover{
                text-decoration-color: blueviolet;
            }
            &:visited{
                color: purple;
            }
        }
    }
}

// These are the footer porperties
#footer{
    background: #f2f2f2;
    font-size: 14px;

    // This is inside footer
    #country{
        font-size: 15px;
        height:41px !important;
        color: rgba(0,0,0,.54);
        padding-left:30px !important;
        padding-right: 30px !important;
    }

    // This is inside footer
    #footer-bottom{      
        display: block;
        padding-left:30px !important;
        padding-right: 30px !important;

        a{
            color: #5f6368;
        }
    
        .link-left{
            margin-left: 27px;
        }

        .link-right{
            margin-left: 27px;
        }

        #left-footer{
            text-align: left;
            float: left;
        }

        #right-footer{
            text-align: right;
            float: right;
        }

        #left-footer, #right-footer{
            height:40px !important;
            min-width: 400px;
            @media(max-width: 860px){
                text-align: center;
                float: none;
            }
        }

        // This is for the responsiveness of whole bottom footer
        @media(max-width:860px){
            padding: 0px !important;
        }
    }
}