// This is the body of page 
body{
    min-width:400px;
    font-family: arial,sans-serif!important;
}
::-webkit-scrollbar{
    width:16px;
}
::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}
::-webkit-scrollbar-track {
    background: none;
    border: none;
}
// These are the right header properties
#header-right{
    
    display: inline-grid;
    float: right;

    // Variables
    $margin-left-right:7.5px;
    $color: rgba(0,0,0,0.87);

    @media(min-width:400px){
        display: hidden;
    }
    #tools{
        margin-top: 12px;
        justify-self: right;
        margin-right: 30px;
        display: inline-flex;
        font-size: 13px;

        // This is insede the right header
        #links{

            // This is inside the links
            a{
                height:24px;
                
                color: $color;
                text-decoration: none;
                padding-right:$margin-left-right;
                &:hover, &:focus{
                    text-decoration: underline;
                    outline:none;
                }
            }
        }
        
        // This is inside right header
        #apps{
            height: 40px;
            width: 40px;
            padding:8px;
            transition: background-color 400ms;
            cursor: pointer;
            &:hover, &:focus{
                background:lightgray;
                outline:none;
            }

            // This is inside the apps
            svg{
                fill: $color;
                &:hover, &:focus{
                    fill: black;
                }
            }
        }

        // This is inside the more-apps
        #signin{
            margin-left: $margin-left-right;
            padding: 6px 12px; 
            background:#3c7ae4;
            color: white;
            font-weight: bold;
            border: 1px solid #4285f4;

            // This is inside the sign in button
            &:hover, &:focus{
                outline:none;
                text-decoration: none;
                background:#3f76d3;
            }
        }
    }

    // These is inside the right header
    #apps-drawer{
        display:none;

        // Position
        float: right;

        // To make it infront
        z-index: 1500;

        // to enable scroll
        overflow-y: overlay;

        // size
        min-width: 300px;
        max-width: 320px;
        max-height: 436px;

        margin: 10px 30px;

        background: #fff;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
        border-radius: 8px;
        
        // Links inside the apps drawer
        .appDrawerSection{

            display: flex;
            flex-wrap: wrap;

            padding:14px;

            // This inside right header/app Drawer/app Drawer Section
            a{
                // For size
                $len1: 84px;
                height: $len1;
                width: $len1;
                margin: 6px;

                transition: all 250ms;

                // For text
                text-align: center;
                color: black;    
                font-size: 14px;
                letter-spacing: .09px;
                line-height: 18px;

                &:hover, &:focus{    
                    background-color: #e8f0fe;
                    border: none;
                    height:auto;
                    .special-div{
                        height:auto;
                    }
                    border-radius: 8px;
                    text-decoration: none;
                    white-space: none;
                    z-index: 1508;
                }
                .special-div{
                    overflow:hidden;
                    height:18px;
                }
                .apps-img{
                    background: url('./google-app-icons.png');
                }
                .apps-img, img{
                    $len: 64px;
                    height: $len;
                    width: $len;
                    padding: 10px 8px;
                    margin: auto;
                }
            }
        }

        // This inside right header/app Drawer/app Drawer Section
        .break-line{
            background: rgba(0, 0, 0, 0.2);
            height: 1px;
            width: -webkit-fill-available;
        }
}
}



// These are the search form properties
.my-shadow {    
    box-shadow: 0 1px 0.4rem rgba(0, 0, 0, 0.200) !important;
    border: none!important;
}
.container{
    padding: 0px 32px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    // This is inside container
    form{
        min-width: 336px;

        // This is inside search form
        #search-box{
            background: #fff;
            max-width: 584px;
            display:flex;
            height: 46px;
            transition: box-shadow 0.25s;
            &:hover{
                @extend .my-shadow;
            }
        
            // This is inside search box input field
            #search-icon{
                fill: #9aa0a6;
                width:  20px;
                height: 20px;
            }
        
            #clear-text{
                height: -webkit-fill-available;
                padding: 3px 0px;
                fill: gray;
                cursor:pointer;
            }
        
            #seperator{
                border-left:1px solid #9aa0a6;
                width: 1px;
                height: 65%;
            }

            #clear-text, #seperatpr{
                display: none;
            }
        }

        // These are inside search form
        input[type="text"], input[type="password"], textarea, select { 
            outline: none;
        }
    
        input[type="submit"], input[type="button"]{
            background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
            background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            color: #5F6368;
            font-family: arial,sans-serif;
            font-size: 14px;
            transition: all 250ms;
            margin: 0px 4px;
            &:hover{
                background-color: #f8f8f8;
                border: 1px solid #c6c6c6;
                color: #222;
            }
            &:focus{  
                border: 1px solid #4d90fe;
                outline: none;
            }
        }
    }
    
    #lang{
        font-size: small;
        a{
            margin: 0px 3px;
            color:blueviolet;
            &:hover{
                text-decoration-color: blueviolet;
            }
            &:visited{
                color: purple;
            }
        }
    }
}

// These are the footer porperties
#footer{
    background: #f2f2f2;
    font-size: 14px;

    // This is inside footer
    #country{
        font-size: 15px;
        height:41px !important;
        color: rgba(0,0,0,.54);
        padding-left:30px !important;
        padding-right: 30px !important;
    }

    // This is inside footer
    #footer-bottom{      
        display: block;
        padding-left:30px !important;
        padding-right: 30px !important;

        a{
            color: #5f6368;
        }
    
        .link-left{
            margin-left: 27px;
        }

        .link-right{
            margin-left: 27px;
        }

        #left-footer{
            text-align: left;
            float: left;
        }

        #right-footer{
            text-align: right;
            float: right;
        }

        #left-footer, #right-footer{
            height:40px !important;
            min-width: 400px;
            @media(max-width: 860px){
                text-align: center;
                float: none;
            }
        }

        // This is for the responsiveness of whole bottom footer
        @media(max-width:860px){
            padding: 0px !important;
        }
    }
}